<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form method="post">
  <h1>Add an Assignment</h1>
  <label for="name">Assignment Name:</label>
  <input type="text" name="name">
  <label for="score">Your score:</label>
  <input type="number" name="score">
  <label for="total">Total Possible Score:</label>
  <input type="number" name="total">
   <label for="completed">Have you completed this assignment</label>
  <input type="checkbox" name="completed">
  <button type="submit">Submit</button>
  <a href="/">Never Mind</a>
  </form>
</body>
</html>